@import '../css/bootstrap.css'
@import '../css/icomoon.css'
@import 'nib'

@font-face
	font-family 'Source Sans Pro'
	font-style normal
	font-weight 200
	src local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGMa9awK0IKUjIWABZIchFI8.woff) format('woff')

@font-face
	font-family 'Source Sans Pro'
	font-style normal
	font-weight 300
	src local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff')

@font-face
	font-family 'Source Sans Pro'
	font-style normal
	font-weight 400
	src local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff')


@font-face
	font-family "qlassik"
	src url(../ttf/qlassik.ttf)

@font-face
	font-family "mono"
	src url(../ttf/mono.ttf)

vendor-prefixes = o ms moz webkit official

azul_avatar = rgb(0,149,218)
azul_telegram = rgb(52,97,131)
gris = #666
naranja = #ef5136
rojo = #d83c3c
verde = rgb(152,211,127)

body
	overflow-x hidden

footer
	background gris
	color white
	display inline-block
	margin 0
	padding 1em
	text-align center
	width inherit

h1
h2
h3
h4
h5
h6
	font-family 'Source Sans Pro'
	font-weight 44 !important

.cabecera
	height 75px
	background naranja
	color #fff

	.regresar
		line-height 75px
		position relative
		left 2em
		font-size 1.4em
		&:link
		&:visited
			color #fff

.contedor
	z-index 1

#contenido
	border-radius 0.5em
	color gris
	overflow hidden
	padding 1em

.seccion
	padding 0 1em 0 0

	.form-horizontal
		padding-right 1em

	.seccionTitulo
		color naranja
		text-align center

	.seccionPrincipal
		overflow hidden
		padding-bottom 2em

		.agregar
			border-radius 0.3em
			cursor pointer
			float right
			height 100px
			position relative
			right 2em
			width 100px
			border 1px solid rgba(0,0,0,0.1)
			text-align center

			i
				line-height 100px
				font-size 4.5em
				color naranja

		.visita-menu
			position relative
			right 1em
			top 1em
	
	.tabla
		padding 1em

		.tituloTabla
			color gris
			font-size 2em

		.editarPlatillo
			cursor pointer

.subcontenido
	box-shadow 1px 1px 6px rgba(0,0,0,0.2)

.panel
	border-radius 0.5em 0 0.5em 0
	color white
	overflow hidden
	position relative
	top 0
	box-shadow 1px 1px 5px #aaa
	
	.active
		background verde

	.cabeceraMenu
		background naranja

	.tituloPanel
		text-align center

	.row
		margin 0
		position relative
		text-align center
		
		.avatar
			display inline-block
			height 145px
			margin-bottom 15px
			text-align center
			width 145px
			overflow hidden

	.item-menu
		background linear-gradient(top, #fff, #f0f0f0)
		color #777
		font-family 'mono'
		font-size 20px
		padding 0.9em 0

		&:hover
			background naranja
			color #fff
			cursor pointer

.item-submenu
	font-size 16px
	background gris
	color #fff
	font-family 'mono'
	padding 0.7em 0

	&:hover
		cursor pointer
		background naranja
		color #fff

.ventana
	background rgba(black,0.5)
	display none
	height 100%
	position fixed
	width 100%
	z-index 2

	.contenidoVentana
		background #FFF
		border-radius 0.5em
		height auto
		margin 0 auto
		padding 1em 2em
		position relative
		top 3em
		width 500px

		.tituloVentana
			border-bottom 1px solid gris
			color naranja
			display block
			padding 0 0 0.5em 0
			text-align center

.cancelar
	position relative
	right 0.5em

.mensajes
	text-align center

/************************************************
		
				Clases Generales

************************************************/
.btnActivo
	background naranja !important
	color #fff !important

.btnActivoSub
	background naranja !important
	color #fff !important

/************************************************
		
				Calificaciones
					Comentarios

************************************************/
.calificaciones
	text-align center
	padding 1em 0

	.calificacion
		display inline-block
		padding 1em 2em

		&:nth-child(even)
			margin 0 3em

.misComentarios
	.estadisticas
		padding .8em 0
		text-align center
		span
			color azul_avatar
	article
		border-radius .5em
		box-shadow 1px 1px 7px #CCC
		margin-bottom 10px
		padding .5em 1.2em
		vertical-align middle

		.nombre
			border-bottom 1px solid rgba(azul_avatar,.5)
			color gris
			font-size 18px

		.comentario
			font-size 14px
			&:before
			&:after
				content '"'

		.respuesta
			font-size 14px
			color #aaa
			font-style italic
			padding 0 1em
			&:before
				content 'Tu: "'
			&:after
				content '"'
		.acciones
			font-size 13px
			font-weight bold
			margin-top 20px
			overflow hidden

			.borrar
				color rojo
				float left
				&:hover
					cursor pointer

			.responder
				color azul_telegram
				float right
				&:hover
					cursor pointer

			.editar
				color azul_telegram
				float right
				&:hover
					cursor pointer

		.frm-responder
			display none
			textarea
				margin-top 35px
				font-weight normal

			input[type="button"]
				margin-top 7px 
/************************************************
		
				Login

************************************************/
.cajita	
	background white
	border 1px solid #CCC
	border-radius 0.3em
	box-shadow 2px 2px 10px rgba(black, 0.2)
	display block
	margin 0 auto
	padding 0.5em 1em
	position relative
	top 4em
	width 425px

	.tituloLogin
		color naranja
		display block
		text-align center

	.olvido
		position relative
		top 1em
/************************************************
		
				Responsive

************************************************/		
@media (min-width: 768px)
	.misComentarios
		article
			display inline-block
			width 49%

			&:nth-child(even)
				margin 0 1% 1.5% 0

@media (max-width: 767px)
	.panel
		.row
			.avatar
				display none

@media (max-width: 639px)
	.calificaciones
		.calificacion
			display block